<tr class="song <%= song.selected? ? "success" : "" %>" data-id="<%= song.id %>">
  <td>
    <input name="song[<%= song.id %>]" id="song-<%= song.id %>" type="checkbox" value="1" <%= song.selected? ? 'checked="checked"' : '' %> >
  </td>
  <td>
  <label for="song-<%= song.id %>"><%= song.title %></label>
  </td>
</tr>
